html
  head
    title #{gameType}
    
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')  
    link(rel="stylesheet/less" type="text/css" href="stylesheets/less/index.less")   
    link(rel="stylesheet" type="text/css" href="libs/sweetalert/dist/sweetalert.css")
    //todo delete this    
    script(src="libs/less/dist/less.min.js" type="text/javascript") 

    script(data-main='javascripts/games/dominator/app.js' src="libs/requirejs/require.js")
body
  div(id='wrapper')
    nav(class='navbar')
      h1(class='text-center') Crazy Balls
    div(id='players_num' data-store=playersNum)
    div(id='game-field' class="game-field")
      p(class='text-center') Press F11 to enter FullScreen mode
      div(class='container')
        div(class='row')
          div(class='col-md-3 column')
            div(class='row')
              div(class='col-md-12 player-area' )
                a(id='player-area-1' class='player-area--link') 
                  span(class='qrcode-helper')
            div(class='row')
              div(class='col-md-12 player-area')  
                a(id='player-area-3' class='player-area--link')
                  span(class='qrcode-helper')
          div(class='col-md-6 column')
            div(class='row')
              div(class='col-md-12 player-area')
                a(id='player-area-5' class='player-area--link')
                  span(class='qrcode-helper')
            div(class='row')
              div(class='col-md-12 player-area') 
                a(id='player-area-6' class='player-area--link')
                  span(class='qrcode-helper')
           
          div(class='col-md-3 column')
            div(class='row')
              div(class='col-md-12 player-area')
                a(id='player-area-2' class='player-area--link')
                  span(class='qrcode-helper')
            div(class='row')
              div(class='col-md-12 player-area') 
                a(id='player-area-4' class='player-area--link')
                  span(class='qrcode-helper')
    

    