html
  head
    title player
    link(href='/stylesheets/player.css', rel='stylesheet')
    div(id='game_id') #{game_id}
    div(id='player_id') #{player_id}
  body
      div(class="main")
        h2(Device Orientation)
        table
          tr
            td Event Supported
            td(id="doEvent")
          tr
            td Tilt Left/Right [gamma]
            td(id="doTiltLR")
          tr
            td Tilt Front/Back [beta]
            td(id="doTiltFB")
          tr
            td Direction [alpha]
            td(id="doDirection")
      div( class="container" style="perspective: 300;")
        img( src="/images/phone.png" id="imgLogo")
        script( src="/socket.io/socket.io.js" type='text/javascript')
        script( src="/javascripts/player.js" type='text/javascript')