html
  head
    title player
    link(href='/stylesheets/player.css', rel='stylesheet')
    script(data-main='/javascripts/player/app.js' src="/libs/requirejs/require.js")
    div(id='game_id') #{gameId}
    div(id='player_id') #{playerId}
  body     
      div(class="main")
        h2(Device Orientation)
        table
          tr
            td Event Supported
            td(id="doEvent")
          tr
            td Tilt Left/Right [gamma]
            td(id="doTiltLR")
          tr
            td Tilt Front/Back [beta]
            td(id="doTiltFB")
          tr
            td Direction [alpha]
            td(id="doDirection")
      div( class="container" style="perspective: 300;")
        img( src="/images/phone.png" id="imgLogo")
