.game-field{
    position: relative;
    width: 800px;
    height: 800px;
}
.player {
    position: absolute;
    width: 20px;
    height: 20px;
    border-color: black;
    border-radius: 10px;
    border: 1px solid;
}


.link {
    position: absolute;
    border-color: black;
    border: 1px solid;
}

#link-1 {
    background-color: red;
    top: 20px; 
    left: 20px;
}

#link-2 {
    background-color: green;
    top: 20px; 
    left: 760px;
}

#link-3 {
    background-color: yellow;
    top: 760px; 
    left: 20px;
}

#link-4 {
    background-color: blue;
    top: 760px; 
    left: 760px;
}